[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "vault/lib/forge-std"]
	path = vault/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "king/lib/forge-std"]
	path = king/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
